ScratchNotebookPersonal.ipynb
Lab/.ipynb_checkpoints/Exercises01-checkpoint.ipynb
Lecture/Topic02_Functional_Programming/foo.txt
ScratchNotebookPersonal.ipynb
.ipynb_checkpoints/
Lecture/Topic02_Functional_Programming/.ipynb_checkpoints/
Lecture/Topic02_Functional_Programming/dict1.pic
